
@media screen and (min-width: 300px) and (max-width: 650px) {
  #asideContent {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }

  #asideContent h3 {
    font-size: 1.8em;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
  }

  #lista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    margin-top: 0px;
    width: 150px;
    height: 400px;
    text-align: left;
    font-weight: bold;
    list-style-type: circle;
    padding: 0px  0px 10px 0px;
    display: block;
}

  #lista > li {
    background-color: rgba(255, 255, 255, 0.874);
    padding: 8px;
    font-size: 1.1em;
}


#lista a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 50px;
}

#lista a:hover {
    text-decoration: underline;
}

}

@media screen and (max-width: 870px) {
  #asideContent {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }

  #asideContent h3 {
    font-size: 1.8em;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
  }

  #lista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    margin-top: 0px;
    width: 150px;
    height: 400px;
    text-align: left;
    font-weight: bold;
    list-style-type: circle;
    padding: 0px  0px 10px 0px;
    display: block;
  }

    #lista > li {
      background-color: rgba(255, 255, 255, 0.874);
      padding: 8px;
      font-size: 1.1em;
  }


  #lista a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      width: 50px;
  }

  #lista a:hover {
      text-decoration: underline;
  }


}

@media screen and  (min-width: 870px) and (max-width: 1000px) {
  #asideContent {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }

  #asideContent h3 {
    font-size: 1.8em;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
  }

  #lista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    margin-top: 0px;
    width: 150px;
    height: 400px;
    text-align: left;
    font-weight: bold;
    list-style-type: circle;
    padding: 0px  0px 10px 0px;
    display: block;
}

  #lista > li {
    background-color: rgba(255, 255, 255, 0.874);
    padding: 8px;
    font-size: 1.1em;
}


  #lista a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      width: 50px;
  }

  #lista a:hover {
      text-decoration: underline;
  }


}


@media screen and  (min-width: 1000px) {
  #asideContent {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }

  #asideContent h3 {
    font-size: 2.1em;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: black;
  }

  #lista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    margin-top: 0px;
    width: 600px;
    height: 400px;
    text-align: left;
    font-weight: bold;
    list-style-type: circle;
    padding: 0px  0px 10px 0px;
    display: block;
    columns: 2;
}

  #lista > li {
    background-color: rgba(255, 255, 255, 0.874);
    padding: 8px;
    font-size: 1.5em;
}


  #lista a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      width: 250px;
  }

  #lista a:hover {
      text-decoration: underline;
  }

}

