
aside {
  background-color:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  width: 700px;
  height: 350px;
  margin: auto;
  margin-bottom: 80px;
  padding: 0px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
}

aside h3 {
  font-size: 1.8em;
  text-align: center;
  margin: 0px;
  padding: 20px;
  color: black;
}
