<article id="articleOrigem">
    <h2 id="tituloArtigo">A Origem do Motoclubismo</h2>
 <div class="articleP">
     <p>
        A primeira motocicleta em produção do mundo foi a Hildebrand & Wolfmüller, fabricada na Alemanha em 1894. Com um motor a vapor de dois cilindros, ela tinha uma potência de 2,5 cavalos e podia atingir uma velocidade máxima de cerca de 45 km/h. A Hildebrand & Wolfmüller tinha um quadro de aço tubular e rodas de madeira com pneus sólidos. Embora tenha sido produzida por apenas alguns anos, a motocicleta foi um marco na história do motociclismo e estabeleceu o padrão para as motocicletas modernas. 
                 </p>
        <div>
            <div id="primeiraMotocicleta" class="imagensArtigo"></div>
            <legend>Hildebrand & Wolfmüller 1984</legend>
        </div>
       
 </div>
<p>
    Fotografias contemporâneas sugerem que os entusiastas da motocicleta se reuniam em clubes de ciclismo durante o 'boom das bicicletas' desse período, mas a primeira reunião registrada com o propósito específico de formar um clube de motocicleta foi realizada em um café de Londres, em novembro de 1901.
    O motoclubismo tem suas origens em um grupo de motociclistas que se uniram para compartilhar sua paixão por motocicletas, viajar juntos e apoiar causas sociais. O primeiro motoclube conhecido foi fundado em 1903 em Londres, chamado de "The Motorcycle Club", mas o motoclubismo moderno tem suas raízes nos Estados Unidos da década de 1940.
</p>
    <div id="primeirosEncontros" class="imagensArtigo"></div>
    <legend>Grupo de motociclistas em 1910</legend>
<div class="articleP">
    <div id="motociclistaSegundaGuerra">
        <div id="motoSegundaGuerra" class="imagensArtigo"></div>
        <legend>Soldado na Segunda Guerra Mundial</legend>
    </div>
    <p>
        Durante e após a Segunda Guerra Mundial, muitos veteranos retornaram aos Estados Unidos com experiência em motocicletas, que eram amplamente utilizadas pelos militares na época. Esses veteranos formaram grupos informais de motociclistas que se reuniam para compartilhar sua paixão por motocicletas e viagens. Esses grupos eram frequentemente formados por homens brancos e trabalhadores, e eles se destacavam por seus casacos de couro, barbas e cabelos compridos.
    </p> 
    <div  id="motociclistaSegundaGuerra2">
        <div id="motoSegundaGuerra2" class="imagensArtigo"></div>
        <legend>Soldado na Segunda Guerra Mundial</legend>
    </div>  
</div>
<div class="articleP">
    <p>
        <a>Em 1947, ocorreu o famoso incidente em Hollister</a>, na Califórnia, onde um grande grupo de motociclistas se reuniu para um encontro. O evento ficou marcado pela violência e pelo comportamento desordeiro dos motociclistas, que chamaram a atenção da mídia e do público em geral. Embora o incidente tenha sido amplificado pela mídia, ele ajudou a estabelecer uma imagem negativa dos motociclistas na sociedade. O incidente de "Hollister Riot" ficou conhecido como o primeiro grande confronto entre motociclistas e autoridades nos Estados Unidos e, desde então, tornou-se parte da cultura popular americana, sendo retratado em filmes e livros, como o famoso romance "O Selvagem da Motocicleta" de Hunter S. Thompson e o filme estrelado por Marlon Brando, "The Wild One" (1953), que marcou toda uma geração e é lembrado até hoje. 
    </p>
        <div>
            <div id="motociclistasHollister" class="imagensArtigo"></div>
            <legend>Motociclistas em Hollister, 1947</legend>
        </div>
</div>
    
<p>
    No entanto, muitos outros motoclubes foram fundados nessa época por motociclistas que buscavam compartilhar sua paixão por motocicletas e viajar juntos.     Hoje o motoclubismo é uma subcultura diversa, com membros de todas as idades, raças e origens sociais. Os motoclubes podem ser encontrados em todo o mundo e são frequentemente envolvidos em atividades sociais e de caridade, bem como em viagens de moto e competições. <br> Embora a imagem negativa do motociclismo ainda exista em algumas partes da sociedade, muitos motociclistas trabalham para mudar essa percepção por meio de comportamentos seguros e atividades de caridade.
</p>   
<p>
    Após alguns anos, ainda no século XX, os motoclubes passaram a ser organizados com base em um Estatuto, onde são definidos a sua denominação, sede, patrimônios e os representantes, como presidente, vice-presidente, diretor regional, secretários, tesoureiros, diretor financeiro, diretor de eventos, diretor de marketing, entre outros, além de definir as funções de cada um perante ao clube.
    No Brasil a primeira associação fundada em 1927 foi o Moto Club do Brasil, no estado do Rio de Janeiro. Em 1932 surgiu o Motoclub de Campos.
</p>

    <div>
        <div id="motoclubCampos" class="imagensArtigo"></div>
        <legend>Motoclub de Campos, 1947</legend>
    </div>
    
<p>
    O Infectus MC é fruto de toda esta história, e hoje conta com grandes membros, liderados por uma forte diretoria e que vem crescendo mais a cada dia que passa.
    <br> <br>
    N.F.S.F.
</p>
</article>

<address id="autor">Artigo escrito por <a id="linkAutor" href="https://www.instagram.com/_razorman/" target="_blank">Machado</a></address>

<div class="fotoClube"></div>