<article>
    <h2>
        Quem somos nós
    </h2>
    <p>
        Reuniram-se os amigos de longa data: Alessandro, Clécio, Noronha, Vonne, Gabriel e Ernande, com a finalidade de materializar o estilo de vida que corre em suas veias, que é o motoclubismo. Assim, depois de muito diálogo, planejamento e organização foi plantada a semente do <strong>Infectus Moto Clube</strong>, nome sugerido por Alessandro e que foi como uma infecção em todos. 
        Então, os seis fundadores começaram a construir as estruturas do clube, levando como linha ideológica o Old School  (Velha Escola). O <strong>respeito</strong>, <strong>irmandade</strong>, <strong>lealdade</strong> e <strong>honra</strong> são princípios indispensáveis para nós!
    </p>    
        <div class="imgpagina1" data-anime="left">
            <div class="fotoprincipal"></div>
        </div>
    <p class="citacao">
        <i>"Buscamos sempre o correto, acreditamos que se você se dispõe a fazer algo, tem que ser bem feito."</i>
    </p>    
    <p>
        Após meses de organização e estruturamento, a fundação do Infectus Moto Clube aconteceu, e foi no dia <strong>04/06/2022</strong>, com a honra de ser apadrinhado pelo Abutres Raça em Extinção, clube 1% de grande respeito e notoriedade mundial. 
        E assim, iniciamos nossa caminhada no meio biker. 
        Nós levamos à risca a hierarquia e disciplina, e cada membro que aqui está, se identifica com a linha do clube.
        <br> 
        Nosso clube é como uma <strong>família</strong> que escolhemos e, a partir do momento em que você se torna um <strong>Infectus</strong> e passa a fazer parte da família, você vai ser cuidado e tratado como um <strong>irmão</strong>. Aqui, cada um cuida do outro de verdade, um irmão nunca está sozinho, independentemente da situação.
    </p>
    
     <div class="imgpagina1" data-anime="left">
        <div class="fotoprincipal1"></div>
    </div>

    <p class="citacao">
        "Nosso lema diz: N. F. S. F. <br>
        <i>'Nascemos Fortes, Sempre Fortes'. E assim, vamos infectando e construindo nosso clube."</i>
    </p>
    <p>    
        Nascemos em Aracaju Sergipe e também temos membros na Bahia, Mato Grosso do Sul e Portugal.
        Somos apaixonados por motocicletas e viagens e não perdemos a oportunidade de estar nas estradas com nossas máquinas, independentemente de modelo ou cilindrada, pois valorizamos quem está em cima da moto. Acreditamos na irmandade e vivemos o que acreditamos!
    </p>
    <div class="imgpagina1" data-anime="left">
        <div class="fotoprincipal2"></div>
    </div>

</article>
<section id="secao" data-anime="left">
    <h2><strong>NASCEMOS FORTES,<br>SEMPRE FORTES. </strong></h2>
    <p>
        A <strong>filosofia</strong> que o <strong>Infectus MC</strong> carrega é
        a <strong>união</strong> entre seus membros, com enorme dedicação da diretoria para todo o clube. E como toda <strong>união faz a força</strong>, podemos te certificar que <strong>somos sempre fortes</strong>, pois estamos sempre unidos nos melhores e nos piores momentos. Como uma família. 
        E isso não surgiu da noite para o dia. Desde antes da fundação, em reuniões entre os membros do clube, já se discutia esse tipo de assunto. O que possibilitou todo o foco do MC para essa <strong>parceria</strong> entre os seus integrantes. Desde o <strong>respeito</strong> ao cargo mais alto, que é o <strong>presidente</strong>, até o membro que acabou de entrar, o <strong>próspero</strong>. Mar calmo não faz bom marinheiro, assim como estradas sem buracos não fazem um bom motociclista. E é nos 'caminhos mais difíceis' que nós nos unimos ainda mais. E essa tecla sempre será batida! <br> <br> <strong>N.F.S.F.</strong>
    </p>
</section>