<section id="sectiongaleria">
    <div id="fundogaleria">
        <div class="zoomborder">
            <div class="fotosgaleria" id="img1"></div>
        </div>
        <div class="zoomborder">
            <div class="fotosgaleria" id="img2"></div>
        </div>
        <div class="zoomborder">
            <div class="fotosgaleria" id="img3"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img4"></div>
        </div>
        <div class="zoomborder"data-anime="bottom">
            <div class="fotosgaleria" id="img5"></div>
        </div>
        <div class="zoomborder"data-anime="left">
            <div class="fotosgaleria" id="img6"></div>
        </div>
        <div class="zoomborder"data-anime="left">
            <div class="fotosgaleria" id="img7"></div>
        </div>
        <div class="zoomborder"data-anime="left">
            <div class="fotosgaleria" id="img8"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img9"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img10"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img11"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img12"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img13"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img14"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img15"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img16"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img17"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img18"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img19"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img20"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img21"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img22"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img23"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img24"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img25"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img26"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img27"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img28"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img29"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img30"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img31"></div>
        </div>
        <div class="zoomborder" data-anime="bottom">
            <div class="fotosgaleria" id="img32"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img33"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img34"></div>
        </div>
        <div class="zoomborder" data-anime="left">
            <div class="fotosgaleria" id="img35"></div>
        </div>
     </div>
</section>