<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
</style>

<div class="content" role="main" *ngIf="eventos">
  <h1>Eventos de  </h1>
  <div class="form-row">
    <div class="offset-4 col-4 ">
      <select (change)="setPlan($event)" class="form-control form-control-lg">
        <option *ngFor="let item of meses" [value]="item.codigo">{{item.descricao}}</option>
      </select> 
     
    </div>
  </div>
  
  <div class="container">
  
    <table>
      <thead>
        <tr>
          <th *ngFor="let coluna of colunas;">
            {{coluna}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let semana of diasDoMes;  index as i ">
          <td *ngFor="let item of semana; index as j">



            <div [class]="dataAtualFormatada==item?.data?'card mb-3 alert alert-info':'card mb-3 alert'"
              style="max-width: 18rem;">
              <div class="card-header">
                <span>
                  {{item?.data}}
                </span>
              </div>
              <div class="card-body">

                <div class="card row" *ngFor="let diaEvento of obterEvento(item?.data)">
                  <div class="col-12">
                    <div class="card-body row">
                      <div class="col-8">
                        <h5 class="card-title" [title]="diaEvento.evento.descricao">{{ diaEvento.evento.titulo}}</h5>
                      </div>
                      <div class="col-4">
                        <img class="card-img-top img-fluid" [src]="diaEvento.evento.imagem" alt="Imagem evento" />
                      </div>
                    </div>
                  </div>
                </div>





                <!-- <span  *ngFor="let evento of obterEvento(item?.data)">
                  {{ evento.evento}}
                </span> -->
              </div>
            </div>
            <span>

            </span>


          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>