
.cal-day-icon{
  width: 30px;
  height: 30px;
}

.imagem-de-fundo{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.cal-cell-top{
  opacity: 1;
}
@media screen and (min-width: 300px) and (max-width: 650px) {
  #calendarContainer {
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: absolute;
    top: 70px;
  }
}

@media screen and (min-width: 650px) and (max-width: 870px) {
  #calendarContainer {
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: absolute;
    top: 70px;
  }
}

@media screen and (min-width: 870px) and (max-width: 1000px) {
  #calendarContainer {
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: absolute;
    top: 70px;
  }
}

@media screen and (min-width: 1000px) {
  #calendarContainer {
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: absolute;
    top: 70px;
  }
}

