<footer>
    <div class="imgrodape">
        <div class="logorodape"></div>
    </div>
    <p>Infectus Brasil <sup>®</sup><br>
        Todos os direitos reservados <sup>®</sup>
    </p> <br>
    <p class="dev">Desenvolvido por <br> <a href="https://www.linkedin.com/in/erasmo-sena-9a39022a/" target="_blank">Erasmo Sena</a> 'Urso' e <br><a href="https://www.linkedin.com/in/tiago-vinicius/" target="_blank">Tiago Vinícius</a> 'Machado'</p>
    <div class="imgrodape2">
        <div class="logorodape2"></div>
    </div>
</footer>
