.hero-section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/assets/images/backgroundhome.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--cor-destaque);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  animation: fadeIn 2s ease-in-out;
}

.hero-title {
  font-size: 10vw; /* Responsivo com a largura da tela */
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.hero-subtitle {
  font-size: 2vw;
  margin-top: -10px;
  font-family: var(--fonte-corpo);
  color: var(--cor-texto-secundario);
  letter-spacing: 2px;
}

.cta-container {
  margin-top: 40px;
}

.cta-button {
  border: 2px solid var(--cor-destaque);
  padding: 15px 30px;
  margin: 0 15px;
  font-family: var(--fonte-corpo);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-fundo-principal);
  cursor: pointer;
  text-decoration: none;
}

/* Animação simples de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media queries para telas menores */
@media (max-width: 768px) {
  .hero-title {
    font-size: 18vw;
  }

  .hero-subtitle {
    font-size: 4vw;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta-button {
    margin: 10px 0;
    width: 80%;
  }
}
