  @font-face {
    font-family: 'ARMY RUST';
    src:url('/assets/fonts/ARMY\ RUST.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  #mainTitle {
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 60;
  }

  #mainTitle h1 {
    font-size: 2.2em;
    font-family: 'ARMY RUST';
  }



  #menu {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0px;
    margin: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: fixed;
    top: 0;
    z-index: 50;
    animation-duration: 0.5s;
  }

  #menu a {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin: 0px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 5px;
  }

@media screen and (min-width: 1000px) {
    #menu a {
      background-color: transparent;
      color: white;
      padding: 10px 20px;
      margin: 0px;
      font-size: 2em;
      text-decoration: none;
      border-radius: 5px;
    }

    #menu a:hover {
      text-decoration: underline;
    }


    #mainTitle {
      height: 90px;
      position: fixed;
      top: 0;
      z-index: 60;
    }

    #mainTitle h1 {
      font-size: 3em;
      font-family: 'ARMY RUST';
    }
}


  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }


  .slide-in {
    animation: slideIn 2s;
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .slide-out {
    animation: slideOut 2s;
  }


  #openMenu {

    background-size:cover;
    background-color: transparent;
    color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;

    background-image:url('../../../assets/images/navigationfundo.png');
  }
  .menu-fechado {
    animation: fechar 1s linear 0s;
  }
  .menu-aberto{
    animation: abrir 1s linear 0s;
  }

  @keyframes fechar {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
  }
  @keyframes abrir {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

