<article class="articlecomando">
    <h2 class="titulodiretores">
        Conheça nossos diretores
    </h2>
    <p class="textodiretores">Os nossos diretores são o pilar do Infectus MC. Sem eles, não haveria motivação e nem regras. O comando é responsável pela organização do clube, desde o estatuto, passando pelas finanças, até a palavra de apoio ao irmão de clube. Eles trabalham sempre em busca de melhorias nos departamentos do clube e se reúnem com frequência para debater sobre os mais variados assuntos. Se o clube pretende realizar uma viagem, participar de algum evento, como Moto Festival, promover alguma ação solidária, decidir o destino certo para o montante das mensalidades, fazer uma reunião para escolher o próximo membro a ser graduado ou se algum visitante vai ser promovido a próspero, tudo isso passa antes pela diretoria.</p>
       <div id="container">
            <div class="diretores" id="alessandro" data-anime="left">
                <p>
                    Alessandro Góis 'Carrasco' é o nosso Presidente
                </p>
            </div>
            <div class="diretores" id="clecio" data-anime="left">
                <p>
                    Clécio Santos é o nosso Vice-Presidente
                </p>
            </div>
            <div class="diretores" id="major" data-anime="left">
                <p>
                    Major Noronha é o nosso Sargento de Armas
                </p>
            </div>
            <div class="diretores" id="vonne" data-anime="left">
                <p>
                    Vonne Marques é o nosso Tesoureiro
                </p>
            </div>
            <div class="diretores" id="gabriel" data-anime="left">
                <p>
                    Nathan Andrade 'Índio' é o nosso Diretor de Marketing
                </p>
            </div>
       </div>     
</article>