<article class="articlecomando">
    <h2 class="titulodiretores">
        Conheça nossos diretores
    </h2>

      <article class="articlecomando">
        <p class="textodiretores">
          Os nossos diretores são o pilar do Infectus MC. Sem eles, não haveria motivação e nem regras. O comando é responsável pela organização do clube, desde o estatuto, passando pelas finanças, até a palavra de apoio ao irmão de clube. Eles trabalham sempre em busca de melhorias nos departamentos do clube e se reúnem com frequência para debater sobre os mais variados assuntos. Se o clube pretende realizar uma viagem, participar de algum evento, como Moto Festival, promover alguma ação solidária, decidir o destino certo para o montante das mensalidades, fazer uma reunião para escolher o próximo membro a ser graduado ou se algum visitante vai ser promovido a próspero, tudo isso passa antes pela diretoria.
        </p>
      </article>
       <div id="container" class="containercomando">
            <div class="diretores" id="alessandro">
                <p>
                    Alessandro Góis 'Carrasco' é o nosso Presidente
                </p>
            </div>
            <div class="diretores" id="clecio">
                <p>
                    Clécio Santos é o nosso Vice-Presidente
                </p>
            </div>
            <div class="diretores" id="major">
                <p>
                    Major Noronha é o nosso Sargento de Armas
                </p>
            </div>
            <div class="diretores" id="vonne">
                <p>
                    Vonne Marques é o nosso Tesoureiro
                </p>
            </div>
            <div class="diretores" id="gabriel">
                <p>
                    Nathan Andrade 'Índio' é o nosso Diretor de Marketing
                </p>
            </div>
       </div>
</article>
