<div class="conteudo">
  <article class="articlecomando">
    <h2 class="titulodiretores">
      Conheça nossos diretores
    </h2>

    <article class="articlecomando">
      <p class="textodiretores">
        Os nossos diretores são o pilar do Infectus MC. Sem eles, não haveria motivação e nem regras. O comando é
        responsável pela organização do clube, desde o estatuto, passando pelas finanças, até a palavra de apoio ao
        irmão
        de clube. Eles trabalham sempre em busca de melhorias nos departamentos do clube e se reúnem com frequência para
        debater sobre os mais variados assuntos. Se o clube pretende realizar uma viagem, participar de algum evento,
        como
        Moto Festival, promover alguma ação solidária, decidir o destino certo para o montante das mensalidades, fazer
        uma
        reunião para escolher o próximo membro a ser graduado ou se algum visitante vai ser promovido a próspero, tudo
        isso passa antes pela diretoria.
      </p>
    </article>
    <div id="container" class="containercomando">
      <div *ngFor="let diretor of diretores">
        <div class="diretores" [class]="diretor.id">
          <p>
            {{diretor.nome}} - {{ diretor.cargo}}
          </p>
        </div>
      </div>
    </div>
  </article>
</div>
